<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPXXsYGJF59oswUX2wGQjiHNLE8sAuTuc</string>
	<key>GCM_SENDER_ID</key>
	<string>721306188000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecocentre.app</string>
	<key>PROJECT_ID</key>
	<string>plasticheroforjapan</string>
	<key>STORAGE_BUCKET</key>
	<string>plasticheroforjapan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721306188000:ios:bb3daf20bb344c1addb885</string>
</dict>
</plist>